//colors

$dark: #283045;
$darker:#000;
$secondary-gray: #979797;
$secondary-black: #3E4B5B;
$secondary-green: #17A9BA;
$secondary-orange: #F2B927;
$secondary-white: #ffffff;
$red: #c21a1a;
$green: #71c21a;

//fonts

$small-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 18px;
$extraLarge-font-size: 24px;
$doubleExtraLarge-font-size: 36px;
$big-font-size:60px;
$bigger-font-size: 75px;

// other
$bar-width: 40px;
$bar-height: 4px;
$bar-spacing: 10px;
