.Students {
  height: calc(100vh - 200px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('../../assets/polytechnic_logo_background_am.png');
  padding: 20px;
  .studentContainer {
      display: flex;
      justify-content: center;
      .studentDataContainer{
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-wrap: wrap;
          margin: 20px;
          .studentDataLabel{
              display: flex;
              justify-content: flex-start;
              color: #878991;
              font-weight: 400;
              margin: 5px;
              font-size: 17px;
          }
          .studentData{
              min-width: 110px;
              border-radius: 4px;
              border: 2px solid #dde2ec;
              color: #495057;
              font-weight: 500;
              padding:  10px 20px;
              font-size: 20px;
          }
      }
  }
}
