.Students {
  height: calc(100vh - 200px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('../../assets/polytechnic_logo_background_am.png');
  padding: 20px;
  overflow-y: auto;
  .documents-list {
    max-width: 1100px;
    margin: 0 auto;
    h3 {
      margin-bottom: 20px;
    }
    > .paper {
      width: 33.3%;
    }
    a {
      margin-bottom: 10px;
      &:hover {
        color: #011B38;
      }
      .Icon {
        margin-left: 5px;
      }
    }
  }
  .studentContainer {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1100px;
      margin: 0 auto;
      .studentDataContainer{
          display: block;
          align-items: center;
          justify-content: space-around;
          flex-wrap: wrap;
          margin: 20px;
          .key-value {
            padding: 10px;
          }
          .studentDataLabel{
              display: flex;
              justify-content: flex-start;
              color: #878991;
              font-weight: 400;
              margin: 5px;
              font-size: 17px;
          }
          .studentData{
              min-width: 110px;
              border-radius: 4px;
              border: 2px solid #dde2ec;
              color: #495057;
              font-weight: 500;
              padding: 5px 10px;
              font-size: 20px;
          }
      }
  }
}

@media screen and (max-width: 620px) {
  .Students {
    height: 100%;
  }
}
