.Header{
    display: fixed;
    top: 0;
    background-color: #011B38;
    width: 100%;
    height: 200px;
    z-index: 100;
    .header_content{
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
       
        img{
            width: 140px;
            height: 40px;
        }
        p{
            color:white;
            text-align: center;
        }
    }
}