.Footer {
  background-color: #011B38;
  padding: 20px 30px;
  > div {
    margin-bottom: 10px;
  }
  span, a {
    color: #fff;
  }
}

@media screen and (max-width: 620px) {
  .Footer {
    flex-direction: column-reverse;
  }
}
