.form_block {
  display:flex;
  justify-content: center;
  align-items: center;
    .BusyLoader {
      width: 100%;
      max-width: 650px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      .image-block {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 80%;
        h1{
          text-align: center;
          font-size: 30px;
        }
      }
      .autorize-block {
        width: 80%;
        .formGroup {
          margin-bottom: 1rem;
          width: 100%;
        }
        .buttonContent{
          display: flex;
          justify-content: center;;
        }
        .Button {
          margin: 1rem;
          border: none;
          background-color: #011B38 ;
        }
        margin-bottom: 1rem;
      }
    }
  }

  @media screen and (max-width: 550px){
    .form_block{
      .BusyLoader{
        width: 90%;
        .image-block {
          h1{
            text-align: center;
            font-size: 20px;
          }
        }
      }
    }
  }
