.Login {
  display:flex;
  justify-content: center;
  align-items: center;
    .BusyLoader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      .image-block {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 80%;
      }
      .autorize-block {
        width: 80%;
        .formGroup {
          margin-bottom: 1rem;
          width: 100%;
        }
        .buttonContent{
          display: flex;
          justify-content: center;;
        }
        .Button {
          margin: 1rem;
        }
        margin-bottom: 1rem;
      }
    }
  }